pandas>=1.2.4
numpy>=1.22.2
ta>=0.7.0
scikit-learn>=1.5.0
matplotlib>=3.3.4
typing_extensions>=3.7.4.3
Markdown>=3.3.4
requests>=2.32.4
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
